@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: italic;
  font-weight: bolder;
  src: local('Digital Numbers Regular'), url('./DigitalNumbers-Regular.woff') format('woff');
  }
p {
  display: flex;

}

.clock {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Digital Numbers Regular';
  margin-top: 1rem;
 
}

.fullTime {
  display: flex;
  border: 7px solid black;
  padding: 4rem;
}

* {
 
  font-weight: bold;
  color: red;
  background-color: rgb(20, 20, 16);
  text-align: center;
}


@media screen and (min-width:750px) {
  .fullTime{
    font-size: 3.5rem;
  }
  #amPm{
    margin-left: 2rem;
  }
}
@media screen and (max-width:750px) {
  .fullTime{
    padding: 2rem;
  font-size: 1.6rem;

  }
  #amPm{
    margin-left: 1.4rem;
  }
}